html{
  height: 100%;
  width: 100%;
}

#title {
  height: auto;
  background-color: lightsteelblue;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding-top: 0px;
}

#searchBars{
  height: auto;
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

#outputArea {
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
  display: none;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
