html{
  height: 100%;
  width: 100%;
}

body{
  background-image: url('background.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

*{ 
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  color: rgb(255,255,255);
}

#header{
  position: fixed;
  height: 50px;
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(0, 0, 0, .8);
  margin: 0px;
  line-height: 50px;
  font-size: 30px;
  padding-left: 20px;
  z-index: 1;
}

#linkedIn{
  height: 40px;
  margin-top: 5px;
  margin-right: 25px;
  background-color: transparent;
}

#searchArea{
  height: auto;
  position: relative;
  top: 50px;
  background-color: rgba(0,0,0,0.8);
  padding: 5px;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

#outputArea{
  height: auto;
  display: none;
  position: relative;
  top: 55px;
  background-color: rgba(0,0,0,0.8);
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.textInput{
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  margin-bottom: 3px;
  background-color: transparent;
  outline: none;
}

.button{
  background-color: transparent;
  border: 0.5px, solid, rgb(180,180,180);
  border-radius: 4px;
}

.button:hover{
  background-color: rgb(0,0,0,0.8);
}