html{
  height: 100%;
  width: 100%;
}

#title {
  height: 50px;
  top:100px;
  background-color: lightsteelblue;
  padding: 10px;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  overflow-x: hidden;
  overflow-y: auto;
  vertical-align: middle;
}

#searchBars{
  height: 100px;
  top:100px;
  background-color: lightgray;
  padding: 10px;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

#outputArea {
  top:100px;
  background-color: lightgray;
  padding: 10px;
  margin: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
